@import url("https://use.typekit.net/axz0hgk.css");

body {
  font-family: "halyard-text", sans-serif;
  font-weight: 300;
  overflow-x: hidden;
  background-image: url('../images/cheap_diagonal_fabric2.png');
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: "halyard-display", sans-serif;
  font-weight: bold;
}

strong, b {
  font-weight: bold;
}

#main {
  min-height: 100vh;
  position: absolute;
  overflow-x: hidden;
}

#main[data-barba-namespace="exhibits show"] {
  background-color: #f8f9fa;
}

.navbar {
  padding-left: 0;
  padding-right: 0;
}

.navbar-brand, .navbar {
  font-size: 1.2rem;
}

.offcanvas-collapse {
  position: fixed;
  top: 0;
  /* Height of navbar */
  bottom: 0;
  left: 100%;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: .5rem;
  line-height: 1.2;
  font-weight: bold;
  overflow-y: auto;
  visibility: hidden;
  box-shadow: -1rem 0 1rem rgba(0, 0, 0, .15);
  z-index: 1000;
  background-image: url('../images/cheap_diagonal_fabric2.png');
  transition: visibility .5s ease-in-out, -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out, visibility .5s ease-in-out;
  transition: transform .5s ease-in-out, visibility .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

.offcanvas-collapse.open {
  visibility: visible;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.offcanvas-collapse .exhibit-menu {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: .5rem;
  padding-right: 1.5rem;
}

@media (min-width: 576px) {
  .navbar {
    padding-left: 3rem;
    padding-right: 3rem;
    margin-left: -15px;
    margin-right: -15px;
  }

  .navbar-brand, .navbar {
    font-size: 2rem;
  }

  .offcanvas-collapse {
    padding-left: 2rem;
    padding-right: 2rem;
    width: 80%;
  }
}

@media (min-width: 768px) {
  .navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0;
    padding-top: 0
  }

  .navbar-brand, .navbar {
    font-size: 2.75rem;
  }

  .offcanvas-collapse {
    width: 60%;
    padding-top: .25rem;
  }
}

@media (min-width: 992px) {
  .navbar-brand, .navbar {
    font-size: 3rem;
  }

  .offcanvas-collapse {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .navbar {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .offcanvas-collapse {
    max-width: 600px;
  }
}

.fullscreen {
  min-height: 100vh;
  position: relative;
}

#exhibit-landing {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../images/background.jpg');
}

#exhibit-landing .jumbotron {
  position: relative;
}

#exhibit-landing .jumbotron .list-inline {
  margin-left: -.5rem;
  margin-right: -.5rem;
  margin-top: 1rem;
  font-size: .85rem;
}

#exhibit-landing .jumbotron .list-inline .list-inline-item {
  position: relative;
  margin-right: 0;
}

#exhibit-landing .jumbotron .list-inline .list-inline-item:not(:last-child):after {
  content: "|";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}

#exhibit-landing .jumbotron .list-inline .list-inline-link {
  padding: .25rem .5rem;
  display: block;
}

#exhibit-landing .jumbotron .list-inline .list-inline-link:focus, #exhibit-landing .jumbotron .list-inline .list-inline-link:hover {
  text-decoration: none;
}

#exhibit-landing #fit-logo {
  margin-top: 1rem;
  width: 75%;
}

@media (min-width: 576px) {
  #exhibit-landing .jumbotron {
    padding-right: 2.5rem;
  }

  #exhibit-landing h1 {
    font-size: 4rem;
  }

  #exhibit-landing .jumbotron .list-inline {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  #summary-block {
    max-width: 750px;
  }

  #exhibit-landing .jumbotron {
    padding-right: 2.75rem;
  }

  #exhibit-landing #fit-logo {
    width: 50%;
  }
}

@media (min-width: 992px) {
  #exhibit-landing h1 {
    font-size: 4.25rem;
  }

  #exhibit-landing h2 {
    font-size: 2rem;
  }
}

@media (min-width: 1200px) {
  #exhibit-landing h1 {
    font-size: 5.75rem;
  }

  #exhibit-landing h2 {
    font-size: 2.75rem;
  }

  #exhibit-landing .jumbotron {
    padding-right: 3rem;
  }

  #exhibit-landing .jumbotron .list-inline {
    font-size: 1.25rem;
  }
}

.begin {
  position: absolute;
  right: 0;
  bottom: 0;
  padding-right: 1rem;
  font-size: 3em;
}

.next {
  font-size: 3em;
}

.previous {
  font-size: 3em;
}

@media (min-width: 576px) {
  .begin {
    bottom: auto;
    top: 50%;
    transform: translateY(-50%);
    padding-right: .5rem;
  }
}

@media (min-width: 768px) {
  .next {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding-right: .5rem;
  }

  .previous {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding-left: .5rem;
  }
}

@media (min-width: 1200px) {
  .begin {
    font-size: 4em;
    padding-right: .75rem;
  }

  .next {
    font-size: 4em;
    padding-right: .75rem;
  }

  .previous {
    font-size: 4em;
    padding-left: .75rem;
  }
}

.openseadragon-popup {
  cursor: zoom-in;
}

.card-footer {
  position: relative;
}

.card-footer .info {
  position: absolute;
  right: 5px;
  top: 7px;
  font-size: 15px;
  padding: 0;
  background: none;
  border: none;
  line-height: 1;
}

.card-footer .nav-item .info {
  position: static;
  font-size: inherit;
}

.card-footer .nav-item .nav-link {
  padding: .25rem .5rem;
}

.card-footer .nav-item i {
  font-size: 2em;
}

@media (min-width: 1200px) {
  .card-footer .nav-item i {
    font-size: 1.25em;
  }
}

@media (min-width: 1400px) {
  .card-footer .nav-item i {
    font-size: 2em;
  }
}

.gallery-caption p {
  margin-bottom: 0;
}

/* blocks */
.exhibit-block .text-justify {
  text-align: left !important;
}

.exhibit-block #heading-only h1 {
  font-size: 2.75rem;
  margin-bottom: 0;
}

.exhibit-block.layout-section .row {
  min-height: calc(100vh - (54px + 68px + 20px));
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (min-width:576px) {
  .exhibit-block .row {
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .exhibit-block.layout-section .row {
    min-height: 100vh;
    margin-top: -74px;
    padding-bottom: 0;
  }

  .exhibit-block #heading-only h1 {
    font-size: 3.5rem;
    padding-right: 3rem;
    padding-left: 3rem;
  }

  .exhibit-block #text {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .exhibit-block #image {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .exhibit-block #text-only {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
}

@media (min-width:768px) {
  .exhibit-block>.row {
    height: 100vh;
    padding-bottom: 0;
  }

  .exhibit-block.layout-section .row {
    min-height: 100vh;
    margin-top: 0;
    padding-bottom: 0;
  }

  .exhibit-block #heading-only h1 {
    font-size: 5rem;
  }

  .exhibit-block #text {
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
    padding-right: 15px;
    padding-left: 3rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    max-height: 100%;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .exhibit-block #text::-webkit-scrollbar {
    display: none;
  }

  .exhibit-block #image {
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%;
    padding-right: 3rem;
    padding-left: 15px;
    padding-top: 6rem;
    padding-bottom: 6rem;
    max-height: 100%;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .exhibit-block #image::-webkit-scrollbar {
    display: none;
  }

  .exhibit-block #text-only {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    padding-top: 5rem;
    padding-bottom: 5rem;
    max-height: 100%;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .exhibit-block #text-only::-webkit-scrollbar {
    display: none;
  }
}

@media (min-width:992px) {
  .exhibit-block #text-only {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .exhibit-block #heading-only h1 {
    font-size: 7rem;
  }
}

@media (min-width:1200px) {
  .exhibit-block #text {
    padding-right: 2rem;
    padding-left: 4rem;
  }

  .exhibit-block #heading-only h1 {
    font-size: 9rem;
  }

  .exhibit-block #image {
    padding-right: 4rem;
    padding-left: 15px;
  }

  .exhibit-block #text-only {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

/* Embed */
.embed-responsive {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.embed-responsive-7by5::before {
  padding-top: 140%;
}

/* seadragon */
.openseadragon-frame .loader, .openseadragon-full .loader {
  border: solid 4px #231f20;
  border-bottom-color: #d6d7d5;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  -webkit-animation: spin 1s linear infinite;
  /* Safari */
  animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }

  100% {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }

  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

#viewer {
  background-color: #f8f8f8;
  border-radius: 4px;
  overflow: hidden;
  color: #000;
}

#viewer .openseadragon-frame {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  background-color: #000;
  margin-bottom: 0;
  border-radius: 4px 4px 0 0;
}

.openseadragon {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

#viewer .caption {
  padding: 20px 20px 10px;
  position: relative;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

#viewer .caption.single {
  border-bottom: 1px solid #ccc;
  border-radius: 0 0 4px 4px;
}

#viewer .caption .info {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 15px;
  padding: 0;
  background: none;
  border: none;
  line-height: 1;
}

#viewer .nav-tabs {
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  padding: 0 20px 20px;
}

#viewer .nav-tabs>li {
  width: 10%;
}

#viewer .nav-tabs>li>a {
  border-radius: 4px;
  padding: 5px;
}

/* gallery */
@media (min-width: 576px) {
  .card-deck .card {
    flex: 0 0 calc((100%) - 30px);
    margin-bottom: 15px;
  }
}

@media (min-width: 768px) {
  .card-deck {
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .card-deck .card.count-1 {
    flex: 0 0 calc((100%) - 30px);
  }

  .card-deck .card.count-2 {
    flex: 0 0 calc((100% / 2) - 30px);
  }

  .card-deck .card.count-3, .card-deck .card.count-4, .card-deck .card.count-5, .card-deck .card.count-6 {
    flex: 0 0 calc((100% / 2) - 30px);
  }

  .card-deck .card.count-7, .card-deck .card.count-8 {
    flex: 0 0 calc((100% / 2) - 30px);
  }
}

@media (min-width:1200px) {
  .card-deck .card.count-2, .card-deck .card.count-4 {
    flex: 0 0 calc((100% / 2) - 30px);
  }

  .card-deck .card.count-3, .card-deck .card.count-5, .card-deck .card.count-6 {
    flex: 0 0 calc((100% / 3) - 30px);
  }

  .card-deck .card.count-7, .card-deck .card.count-8 {
    flex: 0 0 calc((100% / 4) - 30px);
  }
}

@media (min-width:1800px) {
  .card-deck .card.count-4 {
    flex: 0 0 calc((100% / 4) - 30px);
  }
}

/* collection */
#collection-api .card-footer {
  padding: 1rem;
}

@media (min-width: 1800px) {
  .row-cols-xxl-6>* {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
}

/* modal */
.modal {
  background: rgba(0, 0, 0, 0.5);
}